.Button button{
    background-color: rgba(206, 195, 110, 100);
    border-radius: 100px;
    font-size: 15px;
}

.Button button:hover{
    background-color: yellow;
    color: red;
    border: solid;
    transition-duration: 1s;
    animation-timing-function: ease;
}

.Button button::after{
    transition: 1s;
}