.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body button{
    margin: 5px;
    width: 10vw;
    height: 5vh;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}